<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Formulario de Reconocimiento</title>
    </head>
    <body>
        <h2>Formulario de Reconocimiento</h2>
        <form action="insertar_reconocimiento.php" method="post">
            <label>Momento:</label>
            <input type="text" name="momento"><br><br>

            <label>Descripción:</label><br>
            <textarea name="descripcion"></textarea><br><br>

            <label>ID del Alumno que envía:</label>
            <input type="number" name="idAlumEnvia"><br><br>

            <label>ID del Alumno que recibe:</label>
            <input type="number" name="idAlumRecibe"><br><br>

            <input type="submit" value="Enviar">
        </form>
    </body>
</html>
